*{
    background: #9C835F;
    padding: 0;
    margin: 0;
}

.title{
    position: absolute;
    width: 440px;
    height: 62px;
    left: 218px;
    top: 40px;

    font-family:'open sans';
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    
    color: #F9B23D;
}

.player{
    position: absolute;
    width: 299px;
    height: 94px;
    left: 296px;
    top: 162px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}

.com{
    position: absolute;
    width: 299px;
    height: 94px;
    left: 865px;
    top: 162px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}

.versus{
    position: absolute;
    width: 296px;
    height: 186px;
    left: 589px;
    top: 419px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #BD0000;
}

.rockx{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 382px;
    top: 267px;
    font-size: 36px;
    /* display: flex; */

    /* background: url(assets/batu.png); */
}

.paperx{
    position: absolute;
    width: 115px;
    height: 150px;
    left: 388px;
    top: 440px;
    font-size: 36px;

    /* background: url(assets/kertas.png); */
}

.scissorsx{
    position: absolute;
    width: 134px;
    height: 160px;
    left: 369px;
    top: 671px;
    font-size: 36px;
    
    /* background: url(assets/gunting.png); */
}

.rocky{
    position: absolute;
    width: 128px;
    height: 92px;
    left: 951px;
    top: 267px;
    font-size: 36px;

    /* background: url(assets/batu.png); */
}

.papery{
    position: absolute;
    width: 115px;
    height: 150px;
    left: 970px;
    top: 440px;
    font-size: 36px;
    
    /* background: url(assets/kertas.png); */
}

.scissorsy{
    position: absolute;
    width: 134px;
    height: 160px;
    left: 951px;
    top: 671px;
    font-size: 36px;
    
    /* background: url(assets/gunting.png); */
}

.rockx, .rocky, .paperx, .papery, .scissorsx, .scissorsy, .reload{
    /* border: none; */
    outline: none;
    cursor: pointer;
}

.result{
    position: absolute;
    width: 271.11px;
    height: 166.93px;
    left: 565px;
    top: 489px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: white;
    background: green;
    border-radius: 12px;
    transform: rotate(-28.87deg);

}

.reload{
    position: absolute;
    /* width: 77px;
    height: 71px; */
    left: 681px;
    top: 843px;
    display: flex;
    align-items: center;
    margin: auto;
    
}